h1 {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  color:#4EB1BA;
}

h2 {
  margin-left:auto;
  margin-right:auto;
  width:70%;
  font-size:20px;
  color:#4EB1BA;
}

body {
  background-color:#222930;
}

.leftcolumn{
  color:#E9E9E9;
}
